* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

body{
    height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


:root {
    --db-button_blue:#0061ff;
    --db-backg_ciano:#b4d0e7;
    --db-black: #000000;
    --db-card_l_a: #a2d39b;
    --db-card_l_aa: #d1e9cd;
    --db-card_l_b: #61082b;
    --db-card_l_c:#0093ce;
    --db-card_l_d:#ff1c1c;
    --db-card_designit:#f5f5f5;
    --db-card_r_a: #d5001f;
    --db-card_r_b: #b4d0e7;
    --db-card_r_c:#0d2481;
    --db-card_r_d:#ffd830;
    --db-titolo_pd:#61082b;
    --db-white:#ffffff;
}

.filter-white {
    filter:invert(100%) sepia(29%) saturate(300%) hue-rotate(187deg) brightness(116%) contrast(100%);
}
a {
    text-decoration: none;
    color: var(--db-black); 
}

a:hover {
    color: red;
}

.decor_on {
    text-decoration: underline;
    color:#0000EE;
}

.but_prope {
    background-color: var(--db-button_blue);
    color: var(--db-white);
    padding: 5px 10px;
}

p {
    line-height: 1.5rem;
}

.container_2, .container_3, .container_4, .container_5, .container_8 {
    margin: 0 15%;
}

/*Utilitis*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--db-white);
    height: 80px;
    width: 100%;
    font-size: 18px;
    position: fixed;
    border-bottom: 1px solid lightgray;
    z-index: 10;
}

.nav_left, .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0px 20px;
}
/* Region Header*/

/* Region Main*/

.container_1 {
    background-color: var(--db-backg_ciano);
    width: 100%;
    padding: 0 15%;
    padding-top: 100px;
}

.container_1>h1{
    font-size: 72px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.box_left{
    width: 30%;
}
.box_right {
    width: 70%;
}

.container_1 img {
    margin-bottom: -100px;
}
/*First Container*/

.container_2 {
    padding-top: 160px;
}

.row_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

.row_2 .card_top {
    height: 40px;
    border-bottom: solid 1px grey;
    text-align: center;
    padding-top: 6px;
}

.row_2 .card_bottom {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.row_2 .card_end {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border: solid 1px grey;
    margin-top: 56px;
}

.card_end .card_bott{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.card_bott .card_l {
    width: 60%;
}

.card_bott .card_l h3{
    padding-bottom: 30px;
}

.card_bott .card_l p {
    padding-bottom: 50px;
}

.card_bott .card_r button {
    width: 240px;
}
/*Second Container*/

.card_left, .card_midle, .card_right {
    border: solid 1px grey;
    height: auto;
    width: 30%;
}

.container_2 h1 {
    font-size: 46px;
    padding-bottom: 70px;
}

.container_2 input {
    border-radius: 50%;
}

.container_2 > span {
    margin-right: 50px;
}

.container_2 .card_bottom h3 {
    padding-bottom: 30px;
}

.container_2 .card_bottom button {
    width: 100%;
}

.container_2 .card_bottom hr{
    width: 20%;
    margin-bottom: 30px;
}

.container_2 .card_bottom p {
    padding-bottom: 30px;
}

.icon_1, .icon_2, .icon_3, .icon_check {
    display: flex;
    
}

.card_bottom i{
    padding-right: 5px;
    padding-top: 3px;  
}

.icon_check i {
    color: var(--db-button_blue);
}
/*Utilitis Second Container*/

.container_3 .row_3 {
    display: flex;
    height: auto;
    padding-top: 160px;
}

.row .left {
    width: 55%;
}

.row_3 .right {
    width: 45%;
    padding-left: 30px;
    padding-top: 50px;
}

.row_3 .right h3, p {
    padding-bottom: 30px ;
}

.row_3 .right button {
    background-color: var(--db-white);
    padding: 5px 10px; 
}
/*Third Section*/

.container_4 h1{
    padding-bottom: 60px;
    font-size: 46px;
    padding-top: 100px;
}

.container_4 .row_4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;  
}

.container_4 h3 {
    padding-bottom: 30px;
}

.container_4 .box_a_top, .box_b_top, .box_c_top, .box_d_bottom, .box_e_bottom, .box_f_bottom {
    width: 300px;
}
/*Fourth Section*/

.container_5 h1{
    font-size: 46px;
    padding-top: 160px;
    padding-bottom: 60px;
}
/*Fifth Section*/

.container_6 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 600px;
}

.box_left_cont6, .box_midle_cont6, .box_right_cont6 {
    float: left;
    width: calc(100% / 12 * 4);
}

.box_left_cont6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.3%;
    height: 50%;
}

.box_midle_cont6 {
    background-color: var(--db-card_designit);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 33.3%;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

.box_right_cont6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.3%;
    height: 50%;
}
/*Sixth Section general*/

.square_a, .square_b, .square_c, .square_d {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.square_e, .square_f, .square_g, .square_h {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.square_a {
    background-color: var(--db-card_l_a);
    height: 100%;
    box-shadow: inset 0px 0px 0px 10px lightgreen;
}
.square_b{
    background-color: var(--db-card_l_b);
    height: 100%;
}
.square_c{
    display: flex;
    align-items: center;
    background-color: var(--db-card_l_c);
    height: 100%;
}
.square_d{
    background-color: var(--db-card_l_d);
    height: 100%;
}

.square_e {
    background-color: var(--db-card_r_a);
    height: 100%;
}
.square_f{
    background-color: var(--db-card_r_b);
    height: 100%;
}
.square_g{
    background-color: var(--db-card_r_c);
    height: 100%;
}
.square_h{
    background-color: var(--db-card_r_d);
    height: 100%;
}

.container_6 hr {
    border: 1px solid lightgrey;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*Sixth Section square*/

.container_7 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--db-backg_ciano);
    height: 360px;
}

.container_7 h1 {
    color: var(--db-titolo_pd);
    font-size: 46px;
    padding-left: 15%;
}

.container_7 button {
    position: absolute;
    right: 15%;
    top: 35%;
    background-color: var(--db-white);
    padding: 5px 10px; 
}
/*Seventh Section*/

.container_8 {
    position: relative;
    height: 730px;
    padding-top: 100px;
}

.container_8 h1 {
    padding-bottom: 50px ;
}

.text_cont8 h5 { 
    padding: 40px 0;
}

.first_row a {
    position: absolute;
    right: 5%;
    top: 32%;
}

.second_row a {
    position: absolute;
    right: 5%;
    top: 46%;
}

.third_row a {
    position: absolute;
    right: 5%;
    top: 59.5%;
}
/*Octave Section*/

.container_foot {
    background-color: var(--db-black);
    height: 570px;
    width: 100%;
}




