* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

body{
    height: 100vh;
    
}

:root {
    --db-button_blue:#0061ff;
    --db-backg_ciano:#b4d0e7;
    --db-black: #000000;
    --db-card_l_a: #a2d39b;
    --db-card_l_aa: #d1e9cd;
    --db-card_l_b: #61082b;
    --db-card_l_c:#0093ce;
    --db-card_l_d:#ff1c1c;
    --db-card_designit:#f5f5f5;
    --db-card_r_a: #d5001f;
    --db-card_r_b: #b4d0e7;
    --db-card_r_c:#0d2481;
    --db-card_r_d:#ffd830;
    --db-titolo_pd:#61082b;
    --db-white:#ffffff;
}

.filter-white {
    filter:invert(100%) sepia(29%) saturate(300%) hue-rotate(187deg) brightness(116%) contrast(100%);
}

.but_prope {
    background-color: var(--db-button_blue);
    color: var(--db-white);
    padding: 5px 10px;
    margin-bottom: 10px;
}

.but_prope:hover  {
    cursor: pointer;
    transition: 0.3s;
    background-color: #49cbff;
}

.but_white:hover {
    cursor: pointer;
    transition: ease-in-out;
    background-color: #6e6b6b;
    box-shadow: inset 0px 2px 2px 0px;
    color: white;
}

.nav_left a, .nav_right a {
    text-decoration: none;
    color: var(--db-black);
}

.nav_left>div:hover, .nav_right>div:hover  {
    padding: 26px 0;
    border-bottom: 2px solid var(--db-black);
}

  
p {
    line-height: 1.5rem;
}

.container_2, .container_3, .container_4, .container_5, .container_8 {
    margin: 0 15%;
}

/*Utilitis*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--db-white);
    height: 80px;
    width: 100%;
    font-size: 18px;
    position: fixed;
    border-bottom: 1px solid lightgray;
    z-index: 100;
}

.nav_left, .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0px 20px;
}
/* Region Header*/

/* Region Main*/

.container_1 {
    background-color: var(--db-backg_ciano);
    width: 100%;
    padding: 0 15%;
    padding-top: 100px;
}

.container_1>h1{
    font-size: 72px;
}

#plan_a a {
    text-decoration: none;
    color: var(--db-black);
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.box_left{
    width: 30%;
}
.box_right {
    width: 70%;
}

.container_1 img {
    margin-bottom: -100px;
}
/*First Container*/

.container_2 {
    padding-top: 160px;
}

.row_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

.row_2 .card_top {
    height: 40px;
    border-bottom: solid 1px grey;
    text-align: center;
    padding-top: 6px;
}

.row_2 .card_bottom {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.row_2 .card_end {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    border: solid 1px grey;
    margin-top: 56px;
}

.card_end .card_bott{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.card_bott .card_l {
    width: 60%;
}

.card_bott .card_l h3{
    padding-bottom: 30px;
}

.card_bott .card_l p {
    padding-bottom: 50px;
}

.card_bott .card_r button {
    width: 240px;
}
/*Second Container*/

.card_left, .card_midle, .card_right {
    border: solid 1px grey;
    height: auto;
    width: 30%;
}

input {
    margin-right:  15px;
}
.container_2 h1 {
    font-size: 46px;
    padding-bottom: 70px;
}

.container_2 input {
    border-radius: 50%;
}

.container_2 > span {
    margin-right: 50px;
}

.container_2 .card_bottom h3 {
    padding-bottom: 30px;
}

.container_2 .card_bottom button {
    width: 100%;
}

.container_2 .card_bottom hr{
    width: 20%;
    margin-bottom: 30px;
}

.container_2 .card_bottom p {
    padding-bottom: 30px;
}

.icon_1, .icon_2, .icon_3, .icon_check {
    display: flex;
    
}

.card_bottom i{
    padding-right: 5px;
    padding-top: 3px;  
}

.icon_check i {
    color: var(--db-button_blue);
}
/*Utilitis Second Container*/

.container_3 .row_3 {
    display: flex;
    height: auto;
    padding-top: 160px;
}

.row .left {
    width: 55%;
}

.row_3 .right {
    width: 45%;
    padding-left: 30px;
    padding-top: 50px;
}

.row_3 .right h3, p {
    padding-bottom: 30px ;
}

.row_3 .right button {
    padding: 5px 10px; 
}
/*Third Section*/

.container_4 h1{
    padding-bottom: 60px;
    font-size: 46px;
    padding-top: 100px;
}

.container_4 .row_4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;  
}

.container_4 h3 {
    padding-bottom: 30px;
}

.container_4 .box_a_top, .box_b_top, .box_c_top, .box_d_bottom, .box_e_bottom, .box_f_bottom {
    width: 300px;
}
/*Fourth Section*/

.container_5 h1{
    font-size: 46px;
    padding-top: 160px;
    padding-bottom: 60px;
}
/*Fifth Section*/

#plan_f {
    display: flex;
    justify-content: center;
    padding-top: 100px; 
}

.container_6 {
    display: flex;
    aspect-ratio: 3 / 1;
}

.box_left_cont6 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio:1 / 1;
}

.box_midle_cont6 {
    background-color: lightgray;
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
}

.box_right_cont6 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio:1 / 1;
}

.square_a, .square_b, .square_c, .square_d, .square_e, .square_f, .square_g, .square_h {
    display: flex;
    justify-content: center;
    width: calc(100% / 2);
    height: auto;
    aspect-ratio: 1 / 1;
}


/*Sixth Section general*/


.square_a {
    background-color: var(--db-card_l_a);
}
.square_b{
    background-color: var(--db-card_l_b); 
}
.square_c{
    background-color: var(--db-card_l_c);
    display: flex;
    align-items: center;
}
.square_d{
    background-color: var(--db-card_l_d);
}
.square_e {
    background-color: var(--db-card_r_a);
}
.square_f{
    background-color: var(--db-card_r_b);
}
.square_g{
    background-color: var(--db-card_r_c);
}
.square_h{
    background-color: var(--db-card_r_d);
}

#plan_f hr {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*Sixth Section square*/

.container_7 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--db-backg_ciano);
    height: 360px;
}

.container_7 h1 {
    color: var(--db-titolo_pd);
    font-size: 46px;
    padding-left: 15%;
}

.container_7 button {
    position: absolute;
    right: 15%;
    top: 35%;
    background-color: var(--db-white);
    padding: 5px 10px; 
}
/*Seventh Section*/

.container_8 {
    position: relative;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text_cont8 {
    position: relative;
}

.container_8 h1 {
    padding-bottom: 50px ;
}

.text_cont8 h5 { 
    padding: 40px 0;
}

.first_row i, .second_row i, .third_row i {
    position: absolute;
    right: 5%;
    top: 40%;
}

.container_8 p {
    font-size: 14px;
}

.text_cont8  p {
    display: none;
}


.text_cont8 p:hover p {
    display: block;
}




/*Octave Section*/

.container_foot {
    background-color: var(--db-black);
    color: var(--db-white);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.row_foot {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 10%;
}

li > a {
    text-decoration: none;
    color: var(--db-white);
    line-height: 2rem;
}

li > a:hover {
    color: var(--db-button_blue);
    text-decoration: underline;
}

.row_foot ul {
    padding-top: 40px;
}

ul > li {
    list-style: none;
}

.list_a hr {
    margin-top: 80px;
    margin-bottom: 50px;
}

.list_a, i span {
    color: lightgrey;
    padding-right: 0.5rem;
}
/*Footer End*/

